{extend name="common/base" }

{block name="style"}
<style type="text/css">
.article-cover{
    width: 60px;
    height: 40px;
    margin: auto;
    background-size: cover;
}
.myam-g{
    margin-bottom: 10px;
}
</style>
{/block}

{block name="content"}
 <section class="am-panel am-panel-success">
  <header class="am-panel-hd">
    <h3 class="am-panel-title">Case details</h3>
  </header>
  <div class="am-panel-bd">
     <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>case ID</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.case_code}</span></div>
       <div class="am-u-sm-3"><strong>salesforce ID</strong></div>
       <div class="am-u-sm-3">**********</div>
     </div>
      <div class="am-g myam-g">
          <div class="am-u-sm-3"><strong>Service Item</strong></div>
          <div class="am-u-sm-3"><span>{$case_list.typeename}</span></div>
          <div class="am-u-sm-3"><strong>Department</strong></div>
          <div class="am-u-sm-3"><span>{$case_list.ks_name}({$case_list.ks_ename})</span></div>
      </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Responsible casemanager</strong></div>
       <div class="am-u-sm-3"><span>{if condition="empty($users) eq 1"}N/N{else/}{$users.nickname}({$users.user_name}){/if}</span></div>
       <div class="am-u-sm-3"><strong>Client submitting the case</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.case_username}</span></div>
       </div>
      <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Responsible administrator</strong></div>
       <div class="am-u-sm-9"><span>{if condition="$jtstr eq ''"}N/N{else/}{$jtstr}{/if}</span></div>
       
       </div>
       <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Patient's name</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.username}</span></div>
       <div class="am-u-sm-3"><strong>Date of birth</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.birthday}</span></div>
       </div>
       
       <div class="am-g myam-g">
        <div class="am-u-sm-3"><strong>ID number</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.idcard eq ''"}N/N{else/}{$case_list.idcard}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Gender</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.sex eq 1"}Male{else/}Female{/if}</span></div>
      
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>EMO case number</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.case_type eq 4"}{$case_list.record_number}{else/}{/if}</span></div>
       <div class="am-u-sm-3"><strong>If you are the patient</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.isme eq 1"}Yes{else/}No{/if}</span></div>    
      
       
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Applicant's name</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.applicant_name}</span></div>
       <div class="am-u-sm-3"><strong>Applicant gender</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.casexb eq 1"}Male{elseif condition="$case_list.casexb eq 2"}Female{elseif condition="$case_list.casexb eq 3"}Other{else/}Not selected{/if}</span></div>
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Relationship with the patient</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.relationship eq ''"}myself{else/}{$case_list.relationship}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Country</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.country_ename}</span></div>
       
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Province where the city</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.country eq 1"}{$case_list.province_name}-{$case_list.city_name}-{$case_list.district_name}{else/}{$case_list.e_province}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Address</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.address}</span></div>
       
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Preferred Contact</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.sx_lxfs eq 1"}Phone{elseif condition="$case_list.sx_lxfs eq 2"}Email{else/}Not selected{/if}</span></div>
       <div class="am-u-sm-3"></div>
       <div class="am-u-sm-3"></div>
       </div>
       
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Zip code</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.zip_code eq ''"}N/N{else/}{$case_list.zip_code}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Email</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.email}</span></div>
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Convenient to answer the phone time</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.preferred_time}</span></div>
       <div class="am-u-sm-3"><strong>The current doctor's name for treatment</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.treatment_doctor eq ''"}N/N{else/}{$case_list.treatment_doctor}{/if}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Common phone</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.preferred_phone}</span></div>
       <div class="am-u-sm-3"><strong>Service language</strong></div>
       <div class="am-u-sm-3"><span>{$case_list.service_lang_ename}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>The current hospital for treatment</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.treatment_hospital eq ''"}N/N{else/}{$case_list.treatment_hospital}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Current treatment specialist</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.specialty eq ''"}N/N{else/}{$case_list.specialty}{/if}</span></div>
       </div>
       <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Year of diagnosis</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.diagnosisDate eq ''"}N/N{else/}{$case_list.diagnosisDate}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Current Weight</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.weight eq ''"}N/N{else/}{$case_list.weight}{/if}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Height</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.height eq ''"}N/N{else/}{$case_list.height}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Medications for glucose</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.Me_glucose eq ''"}N/N{else/}{$case_list.Me_glucose}{/if}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Medications for blood pressure</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.Me_bloodPressure eq ''"}N/N{else/}{$case_list.Me_bloodPressure}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Medications for cholesterol</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.Me_cholesterol eq ''"}N/N{else/}{$case_list.Me_cholesterol}{/if}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Medications for kidney protection</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.Me_kidneyProtection eq ''"}N/N{else/}{$case_list.Me_kidneyProtection}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Medications for arterial protection</strong></div>
       <div class="am-u-sm-3"><span>{if condition="$case_list.Me_arterialProtection eq ''"}N/N{else/}{$case_list.Me_arterialProtection}{/if}</span></div>
       </div>
       <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Hypertension</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.Hypertension)"}N/N{elseif condition="$case_list.Hypertension gt 0"}Yes{else/}No{/if}</span></div>
       <div class="am-u-sm-3"><strong>High cholesterol</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.highCholestero)"}N/N{elseif condition="$case_list.highCholestero gt 0"}Yes{else/}No{/if}</span></div>
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Heart disease</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.heartDisease)"}N/N{elseif condition="$case_list.heartDisease gt 0"}Yes{else/}No{/if}</span></div>
       <div class="am-u-sm-3"><strong>Kidney disease</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.kidneyDisease)"}N/N{elseif condition="$case_list.kidneyDisease gt 0"}Yes{else/}No{/if}</span></div>
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Eye disease</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.eyeDisease)"}N/N{elseif condition="$case_list.eyeDisease gt 0"}Yes{else/}No{/if}</span></div>
       <div class="am-u-sm-3"><strong>Foot or leg problems</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.footLegProblems)"}N/N{elseif condition="$case_list.footLegProblems gt 0"}Yes{else/}No{/if}</span></div>
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Mental stress issues</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.msIssues)"}N/N{elseif condition="$case_list.msIssues gt 0"}Yes{else/}No{/if}</span></div>
       <div class="am-u-sm-3"><strong>Male or female concerns</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.mfConcerns)"}N/N{elseif condition="$case_list.mfConcerns gt 0"}Yes{else/}No{/if}</span></div>
       </div>
      
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Smoking stop date</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.smokingDate)"}N/N{else/}{$case_list.smokingDate}{/if}</span></div>
       <div class="am-u-sm-3"><strong>Alcohol stop date</strong></div>
       <div class="am-u-sm-3"><span>{if condition="is_null($case_list.alcoholDate)"}N/N{else/}{$case_list.alcoholDate}{/if}</span></div>
       </div>
       
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Most recent blood pressure</strong></div>
       <div class="am-u-sm-9"><span>{if condition="is_null($case_list.MRBPressure)"}N/N{else/}{$case_list.MRBPressure}{/if}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Most recent HbA1c</strong></div>
       <div class="am-u-sm-9"><span>{if condition="is_null($case_list.HbA1c)"}N/N{else/}{$case_list.HbA1c}{/if}</span></div>
       </div>
       <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Condition description</strong></div>
       <div class="am-u-sm-9"><span>{$case_list.illness}</span></div>
       </div>
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Case note</strong></div>
       <div class="am-u-sm-9"><span>{$case_list.case_note}</span></div>
       </div>
       <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
       <div class="am-g myam-g">
       <div class="am-u-sm-3"><strong>Consent for medical records release</strong></div>
       <div class="am-u-sm-9"><span>{if condition="$case_list.isAccept gt 0"}Yes{else/}No{/if}</span></div>
       </div>
  </div>
</section> 

{/block}

{block name="script"}

<script type="text/javascript" src="{$lib_path}/jquery/2.0.0/jquery.min.js?_={$site_version}"></script>

{/block}