a{
    color: #333;
}
a:hover{
    text-decoration: none;
}
/* 手机端的导航栏 */    
@media (max-width:768px){
    .header-top div{
        display: inline-block;
        text-align: center;
        width: 24%;
        height: 42px;
        line-height: 42px;
    }
    img{
        margin-top: -1px;
    }
    .header-top div:nth-child(3){
        background: #9a47b3;
    }
    .header-top div:nth-child(3) a{
        color: #fff;
    }

}