a{
    color: #333;
}
a:hover{
    text-decoration: none;
}
/* 手机端的导航栏 */    
@media (max-width:768px){
    .header-top div{
        display: inline-block;
        text-align: center;
        width: 24%;
        height: 42px;
        line-height: 42px;
    }
    .header-top div:nth-child(2){
        background: #56b348;
    }
    .header-top div:nth-child(2) a{
        color: #fff;
    }

}









