*{
	font-family: Microsoft Yahei, '微软雅黑';
}
/* 判断iphone5 */
@media only screen and (min-width : 320px) and (max-width :374px){
	.index-header{
     	height:180px;
	}
	.index-header img{
		padding-top: 30px;
	}
	.index-name{
		margin-bottom:50px;
		height: 2.2rem;
	}
	.index-name-icon{
		height: 2.2rem;
		padding-top:0.35rem;
	}
	.index-btn-number{
		height: 2.2rem;
	}
	.mheader-top{
		width: 100px;
		height: 100px;
	}
	.mheader-bottom-one{
		font-size: 1rem;
		/* font-weight: bolder; */
		margin: 1rem auto 1rem auto;
		color: #31465d;
	}
	.order-mheader-bottom-one{
		font-size: 1rem;
		font-weight: bolder;
	}
	.mais-per-content{
		top:10rem;
	}
}
/* 判断iphone6 */
@media only screen and (min-width:375px) and (max-width: 413px){
	.index-header{
     	height:200px;
	}
	.index-header img{
		padding-top:50px;
	}
	.index-name{
		margin-bottom:60px;
		height: 3rem;
	}
	.index-name-icon{
		height:3rem;
		padding-top: 0.7rem;
	}
	.index-btn-number{
		height:3rem;
	}
	.mheader-top{
		width: 120px;
		height: 120px;
	}
	.mheader-bottom-one{
		font-size: 1.3rem;
		/* font-weight: bolder; */
		margin: 1rem auto 1rem auto;
		color: #31465d;
	}
	.mheader-bottom-two{
		font-size: .8rem;
		color: #c3c6d3;
	}
	.order-mheader-bottom-one{
		font-size:1.3rem;
		font-weight: bolder;
	}
	.mais-per-content{
		top:10rem;
	}
}
/* 判断iphone6plus */
@media only screen and (min-width: 414px) and (max-width: 767px){
	.index-header{
     	height:220px;
	}
	.index-header img{
		padding-top:60px;
	}
	.index-name{
		margin-bottom:60px;
		height: 3rem;
	}
	.index-name-icon{
		height:3rem;
		padding-top: 0.8rem;
	}
	.index-btn-number{
		height:3rem;
	}
	.mheader-top{
		width: 140px;
		height: 140px;
	}
	.mheader-bottom-one{
		font-size: 1.3rem;
		/* font-weight: bolder; */
		margin: 1rem auto 1rem auto;
		color: #31465d;
	}
	.mheader-bottom-two{
		font-size: .8rem;
		color: #c3c6d3;
	}
	.order-mheader-bottom-one{
		font-size:1.3rem;
		font-weight: bolder;
	}
	.mais-per-content{
		top:10rem;
	}
}
/* 判断ipad */
@media only screen and (min-device-width : 768px) and (max-device-height : 1024px){
.index-header{
     	height:220px;
	}
	.index-header img{
		padding-top:60px;
	}
	.index-name{
		margin-top: 60px;
    	margin-bottom: 60px;
		height: 3rem;
	}
	.index-name-icon{
		height:3rem;
		padding-top: 0.8rem;
	}
	.index-btn-number{
		height:3rem;
	}
	.mheader-top{
		width: 150px;
		height: 150px;
	}
	.mheader-bottom-one{
		font-size: .8rem;
		/* font-weight: bolder; */
		margin: 1rem auto 1rem auto;
		color: #31465d;
	}
	.mheader-bottom-two{
		font-size: 1rem;
		color: #c3c6d3;
	}
	.order-mheader-bottom-one{
		font-size:1.5rem;
		font-weight: bolder;
	}
	.mais-per-content{
		top:12rem;
	}
}
/* ipad横屏 */
@media only screen and (min-device-width :1024px) and (max-device-height : 768px){
	.index-header{
     	height:220px;
	}
	.index-header img{
		padding-top:60px;
	}
	.index-name{
		margin-top: 60px;
    	margin-bottom:100px;
		height: 3rem;
	}
	.index-name-icon{
		height:3rem;
		padding-top: 0.8rem;
	}
	.index-btn-number{
		height:3rem;
	}
	.mheader-top{
		width: 150px;
		height: 150px;
	}
	.mheader-bottom-one{
		font-size: .8rem;
		/* font-weight: bolder; */
		margin: 1rem auto 1rem auto;
		color: #31465d;
	}
	.mheader-bottom-two{
		font-size: 1rem;
		color: #c3c6d3;
	}
	.order-mheader-bottom-one{
		font-size:1.5rem;
		font-weight: bolder;
	}
	.mais-per-content{
		top:25rem;
	}
}

.main-show{
	display: block;
}
.index-header{
	 width:100%;
     text-align:center; 
     vertical-align:middle;
}
.index-header img{
	margin:0 auto;
	display: block;
	border-radius:4px;
	padding-bottom: 10px;
	padding-left:10px;
	padding-right:10px;
	width:70%;
	margin-bottom: 1rem;
}
.index-p{
	font-size:1.2rem;
	color: black;
	text-align: center;
}
.index-form p{
	width: 100%;
	text-align: center;
}
/*input[type="text"],
input[type="password"]{
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width:70%;
    line-height: normal;
    color: #424242;
    font-size:1rem;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
     user-select: text;
    -webkit-appearance: none;
    appearance: none;
    border-bottom:1px solid #E9E9E9; 
}*/
.index-name-icon{
	display: block;
	float: left;
	line-height:normal;
	color: gray;
	font-size: 1rem;
	width: 30%;
	text-align: center;
}
.index-btn-number{
	float: left;
	background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width:70%;
    line-height: normal;
    color: #424242;
    font-size:1rem;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-user-select: text;
     user-select: text;
    -webkit-appearance: none;
    appearance: none;
    border-bottom:1px solid #E9E9E9; 
}
.index-name{
	border:1px solid #E9E9E9;
	border-radius:20px;
	vertical-align: middle;
	box-shadow:10px 10px 10px #E9E9E9;
	-moz-box-shadow:10px 10px 10px #E9E9E9;/*firefox*/ 
	-webkit-box-shadow:10px 10px 10px #E9E9E9;/*webkit*/ 
	background-color: white;

}
.index-login{
	width: 100%;
	height:2.5rem;
	border-radius:20px;
	border:1px solid #008fff; 
	color: white;
	font-size: 1rem;
	font-weight: bolder;
	background-color: #008fff;
	box-shadow:10px 10px 10px #E9E9E9;
	-moz-box-shadow:10px 10px 10px #E9E9E9;/*firefox*/ 
	-webkit-box-shadow:10px 10px 10px #E9E9E9;/*webkit*/ 
	outline: none;
	-webkit-appearance:none;
}
.index-form{
	padding: 0px 0.5rem;
}
/*index-main.html*/
.my-content-padded{
	/*margin: 0.5rem;*/
    position: relative;
    word-break: break-all;
    -webkit-overflow-scrolling: touch;
}
.content-main{
    position: relative;
    word-break: break-all;
    -webkit-overflow-scrolling: touch;
    margin-bottom:3rem;
}
.main-hide{
	display: none;
}
.main-header{
	background-color: white;
	border: 2px solid white;
	width: 17.05rem;
	padding: 15px 10px;
    box-shadow:0px 10px 10px #E9E9E9;
	-moz-box-shadow:0px 10px 10px #E9E9E9;/*firefox*/
	-webkit-box-shadow: 0px 10px 10px #E9E9E9;/*webkit*/
	text-align: center;
	margin: 0 auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.mheader-top{
	margin: 0 auto;
	/* border: 1px solid white; */
	box-shadow: 0 0px 10px 10px #f5f6f8;
	border-radius: 50%;
}
.mheader-top img{
	border-radius:50%;
	margin:0 auto;
}
/*maintable*/
table.maintable{
	width: 17.05rem;
    border-collapse: collapse;
    /*margin-top: 1rem;*/
    border: 1px solid white;
    border-radius:1px; /*圆角设置属性*/
	overflow:hidden; 
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
	margin:  1rem auto 0 auto;
}
table.maintable th{
	border: 1px solid white;  
    padding: .5em 1em; 
    text-align: center;
    background-color: #008FFF;
    color: white;
    /*font-weight: bold;*/
    height: 2.2rem;
	font-weight: normal;
} 
table.maintable td{
	/*border: 1px solid #D4D4D4;  */
	border-right: 1px solid #e4e8ef;
    padding: .5em 0.5em; 
    font-size: 0.6rem;
    text-align: center;
    height: 2.6rem;
    overflow: hidden;
}
.table-case{
	width: 40%;
}
.table-time{
	width: 30%;
}
.table-change{
	width: 30%;
}
.ongoing{
	color: #008FFF;
	font-weight: bold;
}
.ungoing{
	color: #c3c6d3;
	font-weight: bold;
}
.case{
	color: #2a4056;
}
.time{
	color:#8190a7;
}
.lodemore{
	color: #0f7eec;
	font-size:1.5rem;
	height:1.5rem;
	text-align: center;
	vertical-align: middle;
	background-color:rgba(0,0,0,0);
	margin:0 auto; 
}
.content-main-order{
    position: relative;
    word-break: break-all;
    -webkit-overflow-scrolling: touch;
    margin-bottom:3rem;
}
.order-main-header{
	background-color: white;
	border: 2px solid white;
	width: 100%;
	padding: 15px 10px;
    box-shadow:10px 10px 10px #E9E9E9;
	-moz-box-shadow:10px 10px 10px #E9E9E9;/*firefox*/ 
	-webkit-box-shadow:10px 10px 10px #E9E9E9;/*webkit*/ 
	text-align: center;
}
.order-mheader-top{
	margin:0 auto;
	height:2rem;
}
.order-mheader-top img{
	vertical-align: middle;
    margin: auto;
}
table.order-maintable{
	width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border: 1px solid white;
    border-radius:1px; /*圆角设置属性*/
	overflow:hidden; 
	border-top-left-radius:0.5em;
	border-top-right-radius:0.5em;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
}
table.order-maintable th{
	border: 1px solid white;  
    padding: .5em 1em; 
    text-align: center;
    background-color: #008FFF;
    color: white;
    font-weight: bold;
    height: 2.2rem;
}
table.order-maintable td{
	border: 1px solid #D4D4D4;  
    padding: .5em 0.5em; 
    font-size: 0.6rem;
    text-align: center;
    height: 2.6rem;
    overflow: hidden;
}
.order-case{
	color: #2a4056;
}
.order-time{
	color:white;
}
/*maia*/
.my-mais-content{
	position: relative;
	margin-top: 3rem;
}
.mais-per-logo{
	width: 100%;
	margin: 0 auto;
/*	border: 1px solid black;*/
	position: absolute;
	z-index: 3;
}
.mais-img{
	width:5rem;
	height:5rem;
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	margin:0 auto;
	box-shadow: 0 0 15px #d4d4d4;
}
.mais-per-mains{
	position: absolute;
	background-color: white;
/*	height: 500px;*/
	padding-top:2.5rem;
	width: 100%;
	top:2.5rem;
	padding-bottom: 1rem;
	z-index: 2;
/*	border-bottom:1px solid #efefef;*/
	border-radius: 4px;
}
.maisa-name,.maisa-names{
	text-align: center;
}
.maisa-name{
	color: #c3c6d3;
	font-size: .8rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.maisa-names{
	color: #31465d;
	font-size:1.2rem;
	margin-bottom: .6rem;
}
.maisa-namess{
	text-align: center;
	color: #8190a7;
	font-size: .8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 1rem;
}
.mais-per-content{
	width: 100%;
	position: absolute;
	background-color: white;
	z-index: 2;
/*	top: 9.4rem;*/
/*	padding-top:1rem;*/
	padding-bottom: 1rem;
	padding-right:1.5rem;
	padding-left:1.5rem;
	margin-bottom:4rem;
	/*margin-top: 1rem;*/
	/*border-top: 2px solid #efefef;*/
}
.mais-per-content .manegermain:first-child{
	height: 3rem;
}
.manegermain{
	width: 100%;
	height:1.5rem;
	border-bottom:1px solid #efefef;
	color: #2a4056;
	/*padding-top: 1rem;*/
	/*padding-bottom: 2rem;	*/
	padding-top: .5rem;
    padding-bottom: 1.5rem;
}
.manegerspan{
	color: #8190a7;
}
.maneger-ms{
	width: 100%;
	height:1.5rem;
	color: #2a4056;
	padding-top: 1rem;
	padding-bottom:1.5rem;
}
.maneger-text{
	color: #2a4056;
	/*margin-top: .5rem;*/
	line-height: 25px;
}
.aui-bar-mais{
	position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 2.25rem;
    font-size: 0.9rem;
    text-align: center;
    display: table;
}
.aui-bar-tab-mais{
	position: fixed;
    top: auto;
    bottom: 0;
    table-layout: fixed;
    background-color: #008fff;
}
.aui-bar-tab-item-mais{
	display: table-cell;
    position: relative;
    width: 1%;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.aui-bar-tab-item-cancel{
	display: table-cell;
    position: relative;
    width: 1%;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    color:white;
    background-color: gray;
}
.drop_out{
    width: 100%;
    margin-bottom: 0;
    color: #ffffff;
    background-color: #008fff;
    position: relative;
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0 0.6rem;
    height:2.5rem;
    line-height:2.5rem;
    border: 1px solid #008fff;
    border-radius: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}
/*20170721*/
.mais-double{
	width:100%;
    margin: 0 auto;
}
.mais-img-double,.mais-img-doubles{
	width:50%;
	float: left;
	display: inline-block;
/*    border: 1px solid black;*/
    text-align: center;
    vertical-align: middle;
    background-color: white;
    padding-top: 10px;
}
.mais-img-double img,.mais-img-doubles img{
	margin: 0 auto;
	width:75%;
	height:auto;
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow:0 0 15px gray; 
}
.mais-double-name,.mais-double-names{
	text-align: center;
}
.mais-double-name{
	color: #c3c6d3;
	font-size:0.8rem;
	margin-top: 0.5rem;
}


/*新增头部样式*/
.header {
	display: flex;
	justify-content: space-between;
	background: #fff;
	height: 2rem;
	box-shadow: 0 0 10px 2px rgba(96, 96, 96, .2);
	line-height: 2rem;
	margin-bottom: 1rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
}
.header .header_left {
	width: 20%;
}
.header .header_right {
	width: 20%;
}
.header .header_left span {
	margin-left: .8rem;
	font-size: 1rem;
}
.header .header_center p {
	font-size: .8rem;
	font-family: Microsoft Yahei, '微软雅黑';
	color: #464646;
	font-weight: 500;
	margin: 0;
}
.color3{
	color: #31465d;
}

/*.empty{*/
	/*height: 2rem;*/
	/*width: 100%;*/
	/*margin-bottom: 28rem;*/
/*}*/
.footer_btn a{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #008fff;
	height: 2.4rem;
	line-height: 2.4rem;
	z-index: 9;
	color: #fff;
}

.content{
	margin-top: 4rem;
}
.content_blo{
	margin-bottom: 1.5rem;
	text-align: center;
}
.content_blo a{
	display: inline-block;
	width: 16.82rem;
	height: 2.5rem;
	/*background: #8190a7;*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: .8rem;
	color: #fff;
	text-align: center;
	line-height: 2.5rem;
}



/*列表页新样式*/
.content_block{
	width: 17.05rem;
	border: 1px solid #e4e8ef;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 0 auto;
	box-shadow: 0 0 10px 2px rgba(96, 96, 96, .2);
	padding-top: .46rem;
	padding-bottom: .3rem;
	margin-bottom: .47rem;
	text-align: center;
	position: relative;
}

.join_btn{
	text-align: right;
	margin-right: .8rem !important;
	font-weight: bold;
	font-size: 0.5rem;
	margin-bottom: 0;
}
/*.join_btn088{
	text-align: right;
	margin-right: .8rem !important;
	color: #008fff;
	font-weight: bold;
	font-size: 0.65rem;
	margin-bottom: 0;
}*/
.case_name{
	font-size: 1rem;
	color: #2a4056;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 1rem;
}
.case_type{
	color: #2a4056;
	font-size: 0.7rem;
}
.case_time{
	color: #8190a7;
	font-size: 0.7rem;
}
.case_btn{
	font-size: .7rem;
	border: 1px solid #088fff;
	display: inline-block;
	/*padding: 1px 10px;*/
	border-radius: 5px;
	background: #088fff;
	color: #fff;
	width: 80px;
	height: 30px;
	line-height: 30px;
}

/*慢病管理 - 身心健康*/

/*专家意见*/
.color017{
	background: -webkit-linear-gradient(left,#017f4f 0,#52cc9d 100%);
	background: linear-gradient(to right,#017f4f 0,#52cc9d 100%);
}
/*家庭医生随身行*/
.color9d3{
	background: -webkit-linear-gradient(left,#9d3373 0,#e645a5 100%);
	background: linear-gradient(to right,#9d3373 0,#e645a5 100%);
}
/*身心健康*/
.color077{
	background: -webkit-linear-gradient(left,#0775aa 0,#1ba9f5 100%);
	background: linear-gradient(to right,#0775aa 0,#1ba9f5 100%);
}
/*海外医疗*/
.color563{
	background: -webkit-linear-gradient(left,#563e96 0,#8b5ef5 100%);
	background: linear-gradient(to right,#563e96 0,#8b5ef5 100%);
}


/*按钮颜色 pending*/
.case_btnRed{
	border: 1px solid #e65050;
	background: #e65050;
	font-size: .7rem;
	display: inline-block;
	/*padding: 1px 10px;*/
	border-radius: 5px;
	color: #fff;
	width: 70px;
	height: 20px;
	line-height: 18px;
}
/*followed*/
.case_btnBlue{
	border: 1px solid #008fff;
	background: #008fff;
	font-size: .7rem;
	display: inline-block;
	/*padding: 1px 10px;*/
	border-radius: 5px;
	color: #fff;
	width: 70px;
	height: 20px;
	line-height: 18px;
}
/*ass*/
.case_btnOr{
	border: 1px solid rgb(255,128,19);
	background: rgb(255,128,19);
	font-size: .7rem;
	display: inline-block;
	/*padding: 1px 10px;*/
	border-radius: 5px;
	color: #fff;
	width: 70px;
	height: 20px;
	line-height: 18px;
}
.case_btnGreen{
	border: 1px solid #00F700;
	background: #00F700;
	font-size: .7rem;
	display: inline-block;
	/*padding: 1px 10px;*/
	border-radius: 5px;
	color: #fff;
	width: 70px;
	height: 20px;
	line-height: 18px;
}
/*case列表的新样式*/
.new_block{
	width: 16rem;
	text-align: center;
	margin: 0 auto;
	margin-bottom: .5rem;
	padding-bottom: .3rem;
}
.block_title{
	background: #008fff;
	height: 30px;
	line-height: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.block_title p{
	color: #fff;
	font-size: .8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 1rem;
}
.block_con{
	width: 15rem;
	border: 1px solid #e8e8e8;
	margin: 0 auto;
	border-top: none;
	background: #fff;
	box-shadow: 0 0 10px 2px rgba(96, 96, 96, .2);
}


