<!doctype html>
<html lang="en">
<head>
    {include file="common"/}
   
</head>
<body>
    <div class="all">
        <!--title-->
        <div class="title">
            <h3>身心健康支持</h3>
        </div>
        <!--banner-->
        <div class="banner">
            <img src="http://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/five.png" class="img-responsive">
        </div>
        <!--banner下文字介绍-->
        <div class="text">
            <p>身心健康是整体健康的重要组成部分。如果您在应对焦虑、压力或抑郁方面遇到困难，汇医医疗可为您提供私密贴心的心理支持。</p>
            <p>我们的身心健康支持项目会为您匹配一位资深的执业心理咨询师。这位医师将与您充分沟通并做出专业评估，然后根据您的情况提供现实可行的建议并协助您做好相应规划。</p>
        </div>
        <!--成效-->
        <div class="result">
            <h3>成效</h3>
            <ul>
                <li>资深的执业心理咨询师进行专业评估和指导</li>
                <li>对自己的身心状况有更明晰的了解</li>
                <li>绝对私密</li>
            </ul>
            <h4>如需更多信息，请联系我们。</h4>
        </div>
        
        {include file="common_foot"/}
        <!--页脚备案-->
        <div class="footer">
            <p>© 2018 All rights reserved. Advance-Medical</p>
            <p>沪ICP备16015507号-1</p>
        </div>
    </div>
    {include file="jsfoot"/}
</body>
</html>