<!doctype html>
<html lang="en">
<head>
    {include file="common"/}
 
</head>
<body>
    <div class="all">
        <!--title-->
        <div class="title">
            <h3>医疗资源安排</h3>
        </div>
        <!--banner-->
        <div class="banner">
            <img src="http://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/three.png" class="img-responsive">
        </div>
        <!--banner 下文字介绍-->
        <div class="text">
            <p>如果您已经接受了医学专家意见服务，现在需要进一步安排接下来的治疗事宜。汇医可以提供以下帮助，通过医疗资源安排服务，汇医将根据您的状况专门为您匹配权威治疗专家和医疗机构。</p>
            <p>我们的专案医生和支持团队将负责全链条病案管理，为您匹配国内外专家，并安排预约。专案医生还将与您的新主治医生进行前期医疗沟通，充分准备，确保治疗尽快开始。这包括安排进入北京和上海的国际私立诊所和公立医院的VIP病房，以及全球各地的世界级医疗机构。</p>
        </div>
        <!--成效-->
        <div class="result">
            <h3>成效:</h3>
            <ul>
                <li>98%客户满意度</li>
                <li>精准匹配子专科资深治疗医生</li>
                <li>治疗过程的无缝衔接与透明监督</li>
            </ul>
        </div>
        
        {include file="common_foot"/}
        <!--页脚备案-->
        <div class="footer">
            <p>© 2018 All rights reserved. Advance-Medical</p>
            <p>沪ICP备16015507号-1</p>
        </div>
    </div>
    {include file="jsfoot"/}
</body>
</html>