<!doctype html>
<html lang="en">
<head>
    {include file="common"/}
  
</head>
<body>
    <div class="all">
        <!--title-->
        <div class="title">
            <h3>公司简介</h3>
        </div>
        <!--logo图标 部分 预留-->
        <div class="logo">
            <!--大logo-->
            <img src="{$static_path}/ampage2/img/big-logo.png" class="img-responsive">
            <!--小logo-->
            <img src="{$static_path}/ampage2/img/AMLOGO.png" class="img-responsive">
        </div>
        <!--banner-->
        <div class="banner">
            <img src="http://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/seven.png" class="img-responsive">
        </div>
        <!--banner 下文字介绍-->
        <div class="text">
            <p>
                Advance Medical目前隶属于全球线上医疗服务领导者Teladoc Health，是唯一一家有能力在全球范围提供全面远程医疗解决方案的服务商，其业务涵盖远程医疗、专家意见和授权平台服务。Teladoc Health为全球领先的保险公司、企业和医疗机构提供服务，并在全球各地帮助人们得到安心放心的医疗服务。
            </p>
        </div>
        <!--六块 内容部分-->
        <div class="neirong">
            <!--1-->
            <div class="block1">
                <div class="one">
                    <p>1,999<span style="font-size: 10px;">年</span></p>
                    <p>成立</p>
                </div>
                <div class="two">
                    <p style="font-size: 31px;">50,000<span style="font-size: 10px;">多位</span></p>
                    <p>专科医学专家，涵盖450多子专科</p>
                </div>
            </div>
            <!--2-->
            <div class="block1">
                <div class="one">
                    <p>9<span style="font-size: 10px;">个</span></p>
                    <p>运营中心</p>
                </div>
                <div class="two">
                    <p>2,000<span style="font-size: 10px;">多名</span></p>
                    <p>全球员工</p>
                </div>
            </div>
            <!--3-->
            <div class="block1">
                <div class="one">
                    <p>125<span style="font-size: 10px;">多个</span></p>
                    <p>国家与20多种语言服务</p>
                </div>
                <div class="two">
                    <p style="font-size: 31px;">10,000<span style="font-size: 10px;">多个</span></p>
                    <p>全球客户</p>
                </div>
            </div>
        </div>
        <!--页脚备案-->
        <div class="footer">
            <p>© 2018 All rights reserved. Advance-Medical</p>
            <p>沪ICP备16015507号-1</p>
        </div>
    </div>
    {include file="jsfoot"/}
</body>
</html>