<!doctype html>
<html lang="en">
<head>
    {include file="common"/}
   
</head>
<body>
    <div class="all">
        <!--title-->
        <div class="title">
            <h3>家庭医生随身行</h3>
        </div>
        <!--banner-->
        <div class="banner">
            <img src="http://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/two.png" class="img-responsive">
        </div>
        <!--banner 下问题介绍-->
        <div class="text">
            <p>
                感觉不舒服却没有时间看医生? 发了疹子, 不知如何是好？动动手指, 全天候家庭医生咨询服务触手可及（适用非紧急健康问题）。
            </p>
            <p>
                我们将安排资深执业医师回拨或在线回复您的问题，指导您的下一步行动。
            </p>
        </div>
        <!--常见问题-->
        <div class="question">
            <h3>常见问题:</h3>
            <ul>
                <li>我有慢性颈背疼痛, 有什么运动可以缓解吗?</li>
                <li>医生说我得了湿疹, 治疗疹子的最好方法是什么?</li>
                <li>我的眼睛肿了两天了，这是过敏还是别的什么?</li>
                <li>我刚刚做了体检, 有一些指标不正常。接下来我该怎么办?</li>
                <li>吃了医生给我开的药后胃很不舒服。我应该停止服用吗?</li>
            </ul>
        </div>
        <!--家庭医生随身行-->
        <div class="doc">
            <h3>使用“家庭医生随身行”服务的好处:</h3>
            <ul>
                <li>无论度假出差，都可以便捷地进行日常健康及医疗信息咨询。</li>
                <li>无论您讲哪一种语言（英语、普通话、广东话、日语、韩语、印尼语、泰语），我们的医生均可以用您的母语跟您进行临床沟通。</li>
                <li>98%客户满意度。</li>
                <li>避免不必要的门诊。</li>
                <li>保险及员工福利计划的差异优势。</li>
            </ul>
        </div>
        {include file="common_foot"/}
        <!--页脚备案-->
        <div class="footer">
            <p>© 2018 All rights reserved. Advance-Medical</p>
            <p>沪ICP备16015507号-1</p>
        </div>
    </div>
    {include file="jsfoot"/}
</body>
</html>