<!doctype html>
<html lang="en">
<head>
    {include file="common"/}
  
</head>
<body>
    <div class="all">
        <!--title-->
        <div class="title">
            <h3>慢性病管理</h3>
        </div>
        <!--banner-->
        <div class="banner">
            <img src="http://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/four.png" class="img-responsive">
        </div>
        <!--banner下文字介绍-->
        <div class="text">
            <p>慢性疾病是很有挑战性的，但是有了合适的帮助，您可以更好地控制和管理这些挑战。</p>
            <p>比如糖尿病或高血压病人可以在专案医生的帮助和指导下，了解更多疾病相关知识，懂得如何管理疾病，如何避免并发症，如何延年益寿。</p>
            <p>还犹豫什么？今天就联系汇医医疗吧！为自己的健康掌舵！</p>
        </div>
        <!--成效-->
        <div class="result">
            <h3>成效</h3>
            <ul>
                <li>提高健康意识</li>
                <li>轻松做出更有利健康的调适和改变</li>
                <li>减少并发症风险</li>
            </ul>
        </div>
        
        {include file="common_foot"/}
        <!--页脚备案-->
        <div class="footer">
            <p>© 2018 All rights reserved. Advance-Medical</p>
            <p>沪ICP备16015507号-1</p>
        </div>





    </div>
    {include file="jsfoot"/}
</body>
</html>