{if condition="$idcss eq 'one'"}
<div class="anli">医学专家意见</div>
        <div class="anliques">
            <h3>病案描述：</h3>
            <p>一位48岁的女士长期忍受着右膝疼痛问题。最近疼痛发作得越来越频繁，疼痛度也越来越高，已经影响到了她的日常生活。她的主治医生认为是软组织问题，建议进行关节镜手术。这位女士希望能够对自己的病情、后期情况以及其它治疗方案进行进一步的咨询。</p>
           
        </div>
        <div class="anlires">
            <h3>专家意见：</h3>
            <p>专家认为，这位女士的整体后期情况良好。专家查看了患者的关节炎、软骨损伤和髌股疼痛综合征等膝盖问题，专门建议了几个患者主治医生没有提及的保守疗法。如果保守疗法成效不够，专家还建议在决定手术之前可以先尝试注射疗法。</p>
        </div>
        <div class="anlires">
            <h3>对患者的帮助：</h3>
            <p>患者对专家意见表示感激，愿意先尝试保守疗法以避免手术，因此大约节省了13000美元以上的费用。</p>
        </div>
{elseif condition="$idcss eq 'two'"}
   <div class="anli">家庭医生随身行</div>
        <div class="anliques">
            <h3>病案描述：</h3>
            <p>一位35岁的女士给汇医来电，说自己几个月来一直间歇性地肚子疼痛。她看过几个医生，都说不是妇科问题。外科医生的诊断又无法确定到底是不是慢性阑尾炎。她在电话里表示肚子最近越来越疼，疼痛度已经达到了10分里的6分。</p>
        </div>
        <div class="anlires">
            <h3>专案医生的建议：</h3>
            <p>专案医生仔细询问了患者的情况。根据患者表述的症状，医生判定这位患者是慢性阑尾炎急性发作，并催促患者赶紧去看医生。</p>
        </div>
        <div class="anlires">
            <h3>对患者的帮助：</h3>
            <p>挂上电话后，患者立即去了医院，并接受了阑尾切除手术。她表示，如果没有“家庭医生随身行”这项服务，她就无法在病情恶化之前及时采取措施，成功避免危及生命的并发症。</p>
        </div>
{elseif condition="$idcss eq 'three'"}
   <div class="anli">医疗资源安排</div>
        <div class="anliques">
            <h3>病案描述：</h3>
            <p>一位35岁的女性患者被诊断出脉络膜黑素瘤（一种非常罕见而且风险极高的肿瘤），会导致失明。患者希望得到国际专家对于诊断的确认和海外治疗的安排。患者是某健康险的被保险人。</p>
        </div>
        <div class="anlires">
            <h3>专案医生的建议：</h3>
            <p>专案医生当天就联络了患者。在收集了病历病史等资料之后，撰写了详实的病案简报（Clinical Summary）上传到了病案管理系统。医疗主任研究案例后在全球范围内匹配这一领域的权威专家。两位专家在一周内给出了意见和分析，确认了初始诊断并列出了几种治疗方案，锁定了三个国际顶尖治疗此种罕见肿瘤的医疗团队。</p>
        </div>
        <div class="anlires">
            <h3>对患者的帮助：</h3>
            <p>患者选择了皇家利物浦医院进行治疗，在确保恰当治疗方案的前提下节省了数万美元的治疗费用。汇医在该过程中进行了全程协调以及安排治疗。</p>
        </div>
{elseif condition="$idcss eq 'four'"}
   <div class="anli">慢性病管理</div>
        <div class="anliques">
            <h3>病案描述：</h3>
            <p>一位52岁的男性，身患糖尿病已有十年，希望得到病情管理的指导和支持。专案医生详细查看了患者的病历和最新病况，针对这名患者的情况制定了专门的分步骤指导计划。</p>
        </div>
        <div class="anlires">
            <h3>糖尿病教育：</h3>
            <p>管理计划涵盖了各个方面，包括自主护理、病情管理和并发症检查/预防。其中重点放在了营养和积极的生活方式。血压、胆固醇、心脏病预防等其它方面亦得到了详细讨论。</p>
        </div>
        <div class="anlires">
            <h3>对患者的帮助：</h3>
            <p>患者表示慢性病管理项目帮助他更好地了解了自己的病情。专门的病情管理计划让他对自己的体重、腰围、血糖和血压水平有了更好的监测。患者还懂得了检查相关并发症的必要性（如眼睛、肾脏、足部以及接种问题），这让他尤其获益良多。有了慢性病管理项目，患者得以更加积极地管理自己健康情况，和医生们也有了更好的沟通，能够提出更多问题，比如如何用药（服用阿司匹林及降压药的可能调整）和抽血检查（更加频繁地检查血糖和HgA1c）。这些都对患者有所帮助。</p>
            
        </div>
   
   {elseif condition="$idcss eq 'five'"}
   <div class="anli">身心健康支持</div>
        <div class="anliques">
            <h3>病案描述：</h3>
            <p>一位母亲表示，自己十几岁的儿子不愿意学习，有时候甚至拒绝上学。她不知道应该怎么办。</p>
        </div>
        <div class="anlires">
            <h3>电话指导：</h3>
            <p>一位执业心理咨询师和这位母亲进行了三次深入谈话，充分了解了家里和学校的情况。电话指导的目的是为了给孩子和这个家庭提供一个切实可行的解决方案，并加强家庭成员间的纽带。</p>
        </div>
        <div class="anlires">
            <h3>对患者的帮助：</h3>
            <p>这位母亲了解到自己家里的问题并不罕见。她和咨询师一起制定了方案来促进家庭团结，并避免让问题演变成母子矛盾。通过三次电话指导，她对可以利用的资源和帮助有了更清晰的了解。</p>
        </div>
{/if}