 <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$site_title}</title>
    <link rel="stylesheet" href="{$static_path}/ampage2/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$static_path}/ampage2/css/{$idcss}.css?v=1.5">
    <link rel="stylesheet" href="{$static_path}/ampage2/css/anlims.css?v=1.5">
    <link rel="stylesheet" href="{$static_path}/ampage2/css/media.css?v=1.5">