<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$site_title}</title>
    <link rel="stylesheet" href="{$static_path}/ampage/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$static_path}/ampage/css/five.css">
    <link rel="stylesheet" href="{$static_path}/ampage/css/sub_page.css">
</head>
<body>
    <div class="header-top">
            <div class="col-sm-1"> <a href="">汇医专家</a> </div>
    </div>
    <!-- 绿色横线 -->
    <div class="col-sm-12 hx"> </div>


    <div class="expert-example-wrapper clearfix">
                    <div class="expert special-expert">
                      <div class="image-wrapper">
                        <img src="https://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/1.png" alt="">
                      </div>
                      <span>Theodore I. Steinman,&nbsp;M.D.</span>
                      <div class="expert-details">
                        <span class="expert-margin">
                        </span>
                        <span class="expert-name">Theodore I. Steinman,&nbsp;M.D.</span>
                        <span class="expert-info"><span>哈佛大学医学院&nbsp;临床医学教授</span>
                        <span>Beth&nbsp;Israel&nbsp;Deaconess&nbsp;医疗中心</span>
                        <span>Brigham&amp;Women&apos;s&nbsp;医院&nbsp;主任医师</span></span>
                      </div>
                    </div>   
                    <div class="expert">
                      <div class="image-wrapper">
                        <img src="https://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/2.png" alt="">
                      </div>
                      <span class="special-expert-name">Monica&nbsp;Castiglione&#8208;Gertsch,&nbsp;M.D.</span>
                      <div class="expert-details">
                        <span class="expert-margin">
                        </span>
                        <span class="expert-name">Monica&nbsp;Castiglione&#8208;Gertsch,&nbsp;M.D.</span>
                        <span class="expert-info">日内瓦大学医院&nbsp;肿瘤&#8208;妇科主任，乳腺健康中心主任，Brustzentrum Hirslanden瑞士苏黎世顾问</span>
                      </div>
                    </div>
                    <div class="expert">
                      <div class="image-wrapper">
                        <img src="https://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/3.png" alt="">
                      </div>
                      <span>FRANCO&nbsp;M.&nbsp;MUGGIA,&nbsp;M.D.</span>
                      <div class="expert-details">
                        <span class="expert-margin">
                        </span>
                        <span class="expert-name">FRANCO&nbsp;M.&nbsp;MUGGIA,&nbsp;M.D.</span>
                        <span class="expert-info">纽约大学医学院Langone医疗中心，Perimutter癌症学院，妇科癌症、乳腺癌、血液与肿瘤科&nbsp;医学教授</span>
                      </div>
                    </div>
                    <div class="expert">
                      <div class="image-wrapper">
                        <img src="https://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/4.png" alt="">
                      </div>
                      <span>DONALD&nbsp;I.&nbsp;ABRAMS,&nbsp;M.D.</span>
                      <div class="expert-details">
                        <span class="expert-margin">
                        </span>
                        <span class="expert-name">DONALD&nbsp;I.&nbsp;ABRAMS,&nbsp;M.D.</span>
                        <span class="expert-info"><span>加州大学旧金山分校&nbsp;医学教授</span><span>旧金山总医院&nbsp;血液与肿瘤科主任</span><span>UCSF&nbsp;Osher中心&nbsp;结合医学肿瘤科主任</span></span>
                      </div>
                    </div>
                    <div class="expert expert-next">
                      <div class="image-wrapper">
                        <img src="https://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/5.png" alt="">
                      </div>
                      <span>ELLIOT&nbsp;S.&nbsp;KRAMES,&nbsp;M.D.</span>
                      <div class="expert-details">
                      <span class="expert-margin">
                        </span>
                        <span class="expert-name">ELLIOT&nbsp;S.&nbsp;KRAMES,&nbsp;M.D.</span>
                        <span class="expert-info"><span>国际神经调控学会&nbsp;名誉董事</span><span>学会期刊:《神经调控》名誉主编</span></span>
                      </div>
                    </div>
                    <div class="expert expert-next">
                      <div class="image-wrapper">
                        <img src="https://meetuuu.oss-cn-shanghai.aliyuncs.com/zhaoqilong/advancePhone/6.png" alt="">
                      </div>
                      <span>陆一鸣,&nbsp;M.D.</span>
                      <div class="expert-details">
                        <span class="expert-margin">
                        </span>
                        <span class="expert-name">陆一鸣,&nbsp;M.D.</span>
                        <span class="expert-info"><span>上海交通大学医学院附属瑞金医院</span><span>教授/主任医师/博士生导师</span><span>中法生命科学和基因组研究中心主任</span></span>
                      </div>
                    </div>
    </div>

</body>
</html>